// Nuances
$white: #fff;
$black: #000;

// primary
$primary-25: #fcfaff;
$primary-50: #f9f5ff;
$primary-100: #f4ebff;
$primary-200: #e9d7fe;
$primary-300: #d6bbfb;
$primary-400: #b692f6;
$primary-500: #9e77ed;
$primary-600: #7f56d9;
$primary-700: #6941c6;
$primary-800: #53389e;
$primary-900: #42307d;

// gray
$gray-25: #fcfcfd;
$gray-50: #f9fafb;
$gray-100: #f2f4f7;
$gray-200: #e4e7ec;
$gray-300: #d0d5dd;
$gray-400: #98a2b3;
$gray-500: #667085;
$gray-600: #475467;
$gray-700: #344054;
$gray-800: #1d2939;
$gray-900: #101828;

// danger
$danger-25: #fffbfa;
$danger-50: #fef3f2;
$danger-100: #fee4e2;
$danger-200: #fecdca;
$danger-300: #fda29b;
$danger-400: #f97066;
$danger-500: #f04438;
$danger-600: #d92d20;
$danger-700: #b42318;
$danger-800: #912018;
$danger-900: #7a271a;
