@import "button.config";
@import "../button-list/button.config.scss";

.button {
  background-color: $backgroudColor;
  border-radius: $borderRadius;
  border-width: $borderWidth;
  color: $buttonTextColor;
  display: flex;
  align-items: center;
  justify-self: start;
  white-space: nowrap;

  &__wrapper {
    /* surpriza */
    display: grid;
    gap: 2rem;
  }

  &__lead {
    &--left {
      /* Generate .button__lead--left */
      flex-direction: row-reverse;
    }

    &--right {
      /* Generate .button__lead--right */
      flex-direction: row;
    }
  }

  &[icon] {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .bm-new-circle {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }

  @for $i from 0 to length($buttonSizeList) {
    &__#{nth($buttonSizeList, ($i + 1))} {
      height: nth($buttonWidthList, $i + 1);
      line-height: nth($buttonWidthList, $i + 1);
      gap: nth($buttonGapList, $i + 1);

      &:not([icon]) {
        padding: 0 nth($buttonPaddingList, $i + 1);
      }

      &[icon] {
        width: nth($buttonWidthList, $i + 1);
      }
    }
  }
}

[class$="-disc"] {
  width: 10px;
  height: 10px;

  position: relative;

  &::after {
    content: "";
    border-radius: 50%;
    background-color: $buttonTextColor;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
  }
}

.white-disc {
  &::after {
    background-color: $buttonTextColor;
  }
}

.purple-disc {
  &::after {
    background-color: $primary-700;
  }
}

.gray-disc {
  &::after {
    background-color: $gray-700;
  }
}

@media screen and (min-width: 768px) {
  .button {
    &__wrapper {
      grid-template-columns: repeat(5, auto);
    }
  }
}
