// config
$backgroudColor: #5594d8;
$borderRadius: 8px;
$borderWidth: 0;
$buttonTextColor: #fff;
$buttonSizeList: tiny, small, normal, big, large;
$buttonWidthList: 36px, 40px, 44px, 48px, 60px;
$buttonPaddingList: 14px, 16px, 18px, 20px, 28px;
$buttonGapList: 8px, 8px, 8px, 8px, 12px;
